@font-face {
    font-family:logo-font;
    src: url(Norse-Bold.otf);
}

:root {
    --text-padding: 2.5em;
    --text-font-size: 1.2rem; 
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-size: var(--text-font-size);
}

.left-container {
    position: relative;
    width: 35%;
    height: 100vh;
}

#background-img {
    width: 100%;
    height: 100%;
}

.logo-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    width: 100%; 
    background-color: rgb(17, 17, 17);
    opacity: 0.6;
    padding: 1em;
    color: white;
    text-align: center;
}

.left-container > span {
    position: absolute;
    bottom: 0;
    left: 0;
    color:white;
    font-size: 0.5em;
}

.logo-container > span {
    font-family: logo-font;
    font-size: 5rem;
}

.right-container {
    width: 65%;
    height: 100vh;
    background-color: rgb(223, 217, 192);
}

.right-item{
    padding: var(--text-padding);
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30.8vh;
    padding-bottom: 2em;
}

form {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10% auto auto auto;
    height: 40vh;
    padding: 1em 2.5em;
    background-color: rgba(245, 245, 245, 0.726);
    box-shadow: 0px 5px 10px rgb(83, 81, 81);
}

h2 {
    font-weight: 500;
}

form > div {
    display: grid;
    position: relative;
    align-items: center;
    height: 1vh;
    padding: 1em 0;
}

.box-one {
    grid-column-start: 1;
}

input {
    width: 20vw;
    height: 5%;
    border-radius: 20px 20% 30px 20% ;
    box-shadow: inset 1px 1px 3px rgb(83, 81, 81);
    font-size: var(--text-font-size);
    padding: 1em;
}

button {
    font-size: var(--text-font-size);
    background-color: #778d63;
    box-shadow: 0px 2px 2px rgb(83, 81, 81);
    padding: 0.3em;
    margin-bottom: 1em;
    color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

input:focus {
    transform: scale(1.05);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .invalid-check { 
    display: block;
}

input:not(:focus):not(:placeholder-shown):valid ~ .valid-check { 
    display:block;
}

.valid-check {
    position:absolute;
    top: 130%;
    left: 67%;
    fill: rgb(45, 133, 45);
    display: none;
}

.invalid-check {
    position:absolute;
    top: 130%;
    left: 67%;
    fill: rgb(187, 4, 4);
    display: none;
}
